@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Root variables for theme colors */
:root {
    --background-color: #FDF0D5;
    --header-color: #651214;
    --card-color: #912B2C;
    --accent-color: #edc531;
    --text-color: black;
}

/* Top header styling */
#topheader {
    display: grid;
    text-align: center;    
    background-color: var(--header-color);
    border-radius: 10px;
    color: var(--background-color);
}

/* Menu button styling */
#menu-button {    
    background-color: inherit;
    font-size: 2rem;
    padding: 0.5rem;
    color: var(--background-color);
}

#menu-icon {
    display: block;
    text-align: center;
    color: var(--accent-color);
}

/* Body styling */
body {
    font-family: 'Lato', sans-serif;
    background-color: var(--background-color);
    text-align: center;
    color: var(--text-color);
}

/* Menu list styling */
#menu-list {
    display: none;
}

/* Navigation styling */
nav ul {
    background-color: var(--card-color);
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
    display: none;
}

nav ul.open {
    display: block;
    align-items: center;
    text-align: center;
}

nav ul li {
    text-align: center;
    padding: 20px;
}

nav ul li a {
    display: block;
    color: var(--background-color);
    text-decoration: none;
}

nav ul li:hover {
    background-color: var(--text-color);
    border: 1px solid var(--header-color);
    border-radius: 10px;
    margin: 5px;
}

nav ul li a:hover {
    color: var(--accent-color);
}

/* Header styling */
header {
    display: grid;
    background-color: var(--background-color);
    border-radius: 10px;
}

header h1 {
    color: var(--background-color);
    text-align: center;
    margin-top: 5px;
}

/* Image styling */
#Camelotimg {
    width: 400px;
    height: auto;
    border-radius: 10%;
    border: 1px solid var(--header-color);
}

#Camelotimage {
    border: 1px solid var(--header-color);
    border-radius: 10px;
}

/* Opening section styling */
#opening {
    border: 1px solid var(--header-color);
    border-radius: 10px;
    background-color: var(--background-color);
    padding: 1rem;
    color: var(--text-color);
}

/* Member section styling */
.member {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid var(--header-color);
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Dark mode button styling */
#dark-mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    background-color: white;
    border: 1px solid var(--header-color);
    border-radius: 10px;
    color: var(--text-color);
}

#dark-mode::before {
    content: "🌙";
}

#dark-mode::after {
    content: "☀️";
}

.hero-image {
    width: 100%;
    height: auto;
}

/* Responsive Text */
#hero-label::after {
    content: "Small";
}

@media (min-width: 800px) {
    #hero-label::after {
        content: "Medium";
    }
}

@media (min-width: 1000px) {
    #hero-label::after {
        content: "Large";
    }
}

#hero-image {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

#hero-label {
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--header-color);
    color: var(--background-color);
    position: absolute;
    top: 10px;
    left: 10px;
}