@media screen and (min-width: 800px) {

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul.open{
        display: flex;
        flex-direction: row;
    }

    #menu-button{
        display: none;
    }

    #members{
        display: flex;
        flex-direction: row;

    }
    
    #member{
        padding: 1rem;
        margin: 1rem;
        border: 1px solid black;
        border-radius: 10px;
    }

    #Openings{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
        margin-right: 2.5rem;
    }

    #Camelotimage{
        border: 1px solid black;
        border-radius: 10px;
    }

    #opening{
        border: 1px solid black;
        border-radius: 10px;
    }
}