@media screen and (min-width: 800px) {

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul.open{
        display: flex;
        flex-direction: row;
    }

    #menu-button{
        display: none;
    }

    #members{
        display: flex;
        flex-direction: row;

    }
    
    #Openings{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
        margin-right: 2.5rem;
    }

    /* Dicover section styling */
    #discover-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    figure:hover {
        box-shadow: 0 0 50px #333;
    }
}