@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background-color: #EFF1ED;
    --header-color: #373D20;
    --accent-color: #717744;
    --accent2-color: #BCBD8B;
    --accent3-color: #766153;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-color);
}

#content{
    margin: 0 auto;
    padding: 20px;
}

#topheader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--header-color);
    color: var(--background-color);
    padding: 10px;
}

#topheader h1{
    margin: 0 auto;
}

#menu-button{    
    background-color: var(--accent-color);
    font-size: 2rem;
    padding: .5rem;
    border: none;
}

#menu-icon{
    color: var(--header-color);
}

nav ul{
    background-color: var(--accent-color);
    list-style: none;
    padding: 0;
    display: none;
    flex-direction: column;
    margin: 0;
}

nav ul.open{
    display: flex;
}

nav ul li{
    padding: 20px;
}

nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
}

nav ul li:hover{
    background-color:var(--accent3-color);
}

nav ul li a:hover{
    color: var(--accent2-color);
}

#top-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#middle-content{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#middle-content h2{
   align-items: center;
}

#bottom-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}