@media screen and (min-width: 1200px) {
    #topheader{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul.open{
        display: flex;
        flex-direction: row;
    }

    #menu-button{
        display: none;
    }

    #top-content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        text-align: center;
        gap: 10px;
    }

    #top-content h2{
        padding: 20px;
    }

    #featured-products{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #bottom-content{
        display: grid;
        grid-template-columns: 1fr 2fr;
        text-align: center;
        gap: 10px;
    }
    
    #bottom-content h2{
       padding: 20px;
    }

    .weather-forecast{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    /* About Us Styling */
    #top-content-au{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: 20px;
    }

    #bottom-content-au{
        display: block;
        text-align: center;
    }

    /* Products Styling */

    #products-container.grid-view .card {
        width: 30%; /* Adjust width as needed */
        display: inline-block; /* Makes the elements sit side by side */
    }
/* Grid view styles for medium screens (2x6) */
@media screen and (min-width: 1200px) {
    #product-list.grid-view {
        grid-template-columns: 1fr 1fr
    }
}

/* Grid view styles for large screens (4x3) */
@media screen and (min-width: 1500px) {
    #product-list.grid-view {
        grid-template-columns: 1fr 1fr 1fr 1fr
    }
}

/* Order form styling */
#order-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    gap: 10px;
}
}