@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background-color: #FEFAE0;
    --header-color: #283618;
    --accent-color: #606C38;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-color);
}

#content{
    max-width : 800px;
    margin: 0 auto;
}

#topheader{
    display: flex;
    text-align: center;    
    background-color: var(--header-color);
    border-radius: 10px;
}

#menu-button{    
    background-color: inherit;
    font-size: 2rem;
    padding: .5rem;
}

#menu-button::before{
    content: "≡";
}

#menu-button.open::before{
    content: "X";
}

nav ul{
    background-color: var(--accent-color);
    list-style: none;
    text-align: center;
    padding-inline-start: 0px;
    display: none;

}
nav ul.open{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav ul li{
    text-align: center;
    padding: 20px;
}

nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    /*padding-inline-start: 10px;*/
}

header{
    display:grid;
    grid-template-columns:1fr 4fr;
    background-color: var(--header-color);
}

header img{
    height:150px;
    margin: 20px;
}

header h1{
    color: var(--background-color);
    text-align: center;
    margin-top: 5px;
}

main{
   
    display: grid;
    grid-template-columns: 1fr;
    
}
ul{
    list-style: none;
}

main h2{
    text-align: center;

}
main h3{
    text-align: center;
    color: var(--background-color);
    padding: 10px;
}

footer{
    text-align: center;
    background-color: var(--header-color);

}

footer p{
    color: var(--background-color);
    padding: 10px;
}

.card h3{
    background-color: var(--header-color);
    color: white;
    margin: 0;
    padding: 1rem;
   
}
.card{
    border: 1px var(--header-color) solid;
    margin: 1rem;    
}

.card p {
    padding: 1rem;
}

#content > main > section:nth-child(3) > ul > li{
    list-style: none;
}