@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background-color: #FEFAE0;
    --header-color: #283618;
    --accent-color: #606C38;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-color);
}

#content{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#topheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    border-radius: 10px;
    padding: 10px;
}

#menu-button{    
    background-color: inherit;
    font-size: 2rem;
    padding: .5rem;
    border: none;
    cursor: pointer;
}

#menu-icon{
    color: var(--background-color);
}

nav ul{
    background-color: var(--accent-color);
    list-style: none;
    padding: 0;
    display: none;
    flex-direction: column;
    margin: 0;
}

nav ul.open{
    display: flex;
}

nav ul li{
    padding: 20px;
}

nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
}

nav ul li:hover{
    background-color: var(--header-color);
}

nav ul li a:hover{
    color: var(--accent-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    padding: 20px;
    border-radius: 10px;
}

header img{
    height: 100px;
    width: auto;
}

header h1{
    color: var(--background-color);
    margin: 0;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px 0;
}

ul{
    list-style: none;
}

#learning-activites li a:link{
    color: var(--header-color);
}

#learning-activites li a:visited{
    color: var(--accent-color);
}

#learning-activites li a:hover{
    color: var(--accent-color);
}

main h2{
    text-align: center;
}

main h3{
    text-align: center;
    color: var(--background-color);
    padding: 10px;
}

footer{
    text-align: center;
    background-color: var(--header-color);
    padding: 10px;
}

footer p{
    color: var(--background-color);
}

.card h3{
    background-color: var(--header-color);
    color: white;
    margin: 0;
    padding: 1rem;
}

.card{
    border: 1px var(--header-color) solid;
    margin: 1rem;    
    border-radius: 10px;
}

.card p {
    padding: 1rem;
}

.googleMap{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.googleMap iframe{
    width: 100%;
    height: 500px;
    border: none;
}

.googleMap h3{
    color: var(--header-color);
    text-align: center;
}

#temple-banner {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

#temple-banner > img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

#temple-label {
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--header-color);
    color: var(--background-color);
    position: absolute;
    top: 10px;
    left: 10px;
}